/*----------------
    RESET
----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------
    GOOGLE-FONT
----------------*/
body{
    font-family: "PT Sans", sans-serif;
    line-height: 1.5;
}
/*----------------
    GENERAL
----------------*/
.container{
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-small{
    max-width: 930px;
    padding: 0 10px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
ul li{
    list-style: none;
}
.card{
    background-color: #b5ddff;
    min-height: 340px;
}
.bg-color{
    background-color: #9792e4;
}
.bg-white{
    background-color: #fff;
}
.color-white{
    color: #ffff;
}
/*----------------
    FLEX
----------------*/
.dis-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.sp-between{
    justify-content:space-between;
}
.align-center{
    align-items: center;
}
.gap{
    gap: 30px;
}
.grow{
    flex-grow: 1;
}
/*----------------
    BUTTON
----------------*/
/*----------------
    COL
----------------*/
.col{
    padding: 10px 10px;
}
/*----------------
    PADDING
----------------*/
.padding-15{
    padding: 15px 0;
}
.padding-l-30{
    padding-left: 30px;
}
.padding-t-30{
    padding-top: 30px;
}
.padding-t-100{
    padding-top: 100px;
}
.padding-b-60{
    padding-bottom: 60px;
}
.padding-b-100{
    padding-bottom: 100px;
}
/*----------------
    MARGIN
----------------*/
.margin-t-170{
    margin-top: 170px;
}
/*----------------
    WIDHT
----------------*/
/*----------------
    HEADER
----------------*/
header{
    background-color: #0084fd;
}
.menu-mobile{
    display: none;
    font-size: 30px;
    padding-right: 30px;
    color: #ffff;
}
/*----------------
    MAIN
----------------*/
#intro .col{
    width: calc(100% / 3);
}
#intro .card{
    border-radius: 30px;
    height: 100%;
}
.phone{
    max-width: 300px;
    margin-top: 60px;
}
#intro h3, .info i {
    color: #0084fd;
}
#intro p{
    padding: 40px 30px;
    color: #5a6e7f;
}
.info .fa-solid{
    font-size: 80px;
}
.info i{
    padding: 30px 0;
}
#planning .col{
    width: 50%;
    border-radius: 50px;
}
#planning img{
    max-width: 400px;
}
#planning .bg-white img{
    max-width: 300px;
}
#planning h2{
    padding-top: 130px;
    padding-bottom: 60px;
}
#planning h3{
    padding: 20px 0;
    font-weight: 700;
}
#planning button{
    margin: 30px 0;
}
/*----------------
    FOOTER
----------------*/
/*----------------
    TABLET
----------------*/
@media screen and (max-width: 992px) {
    .shadow {
        display: none;
    }
    .menu-mobile{
        align-items: center;
        display: block;
    }
    #intro .dis-flex{
        display: inline-block;
        max-width: 100%;
    }
    #planning .col{
        width: 100%;
        margin-top: 0;
    }
    #planning h2{
        font-size: 50px;
    }
}
/*----------------
    MOBILE
----------------*/
@media screen and (max-width: 768px) {
    #intro .col{
        width: 100%;
    }
}