/*----------------
    RESET
----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------
    GOOGLE-FONT
----------------*/
body{
    font-family: "PT Sans", sans-serif;
    line-height: 1.5;
}
/*----------------
    GENERAL
----------------*/
.container{
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-small{
    max-width: 930px;
    padding: 0 10px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
ul li{
    list-style: none;
}
.card{
    background-color: #b5ddff;
}
.bg-color{
    background-color: #9792e4;
}
.bg-white{
    background-color: #fff;
}
.color-purple{
    color: #9792e4;
}
.color-white{
    color: #ffff;
}
.pos-relative{
    position: relative;
}
/*----------------
    FLEX
----------------*/
.dis-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.sp-between{
    justify-content:space-between;
}
.align-center{
    align-items: center;
}
.gap{
    gap: 30px;
}
.grow{
    flex-grow: 1;
}
/*----------------
    BUTTON
----------------*/
button{
    border: none;
    cursor: pointer;
}
.btn-padding{
    padding: 15px 50px;
}
.btn-primary{
    background-color: #0084fd;
    letter-spacing: 2px;
}
.btn-head{
    padding: 10px 15px;
}
.btn-radius{
    border-radius: 30px;
}
#benefit button{
    letter-spacing: 1.5px;
    padding: 10px 40px;
    background-color: #9792e4;
    color: #fff;
    border-radius: 30px;
}
.btn-circle{
    background-color: #9792e4;
    clip-path: circle();
    padding: 20px 20px;
    font-size: 20px;
}
.btn-small{
    background-color: #9792e4;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 20px;
}
.btn-big{
    padding: 25px 80px;
    color: #9792e4;
    border-radius: 40px;
}
/*----------------
    COL
----------------*/
.col{
    padding: 10px 10px;
}
/*----------------
    PADDING
----------------*/
.padding-15{
    padding: 15px 0;
}
.padding-30{
    padding: 0 30px;
}
.padding-40{
    padding: 40px 0;
}
.padding-50{
    padding: 50px 0;
}
.padding-60{
    padding: 60px 0;
}
.padding-70{
    padding: 70px 0;
}
.padding-l-30{
    padding-left: 30px;
}
.padding-r-100{
    padding-right: 100px;
}
.padding-t-30{
    padding-top: 30px;
}
.padding-t-50{
    padding-top: 50px;
}
.padding-t-70{
    padding-top: 70px;
}
.padding-t-90{
    padding-top: 90px;
}
.padding-t-100{
    padding-top: 100px;
}
.padding-b-30{
    padding-bottom: 30px;
}
.padding-b-60{
    padding-bottom: 60px;
}
.padding-b-100{
    padding-bottom: 100px;
}
/*----------------
    MARGIN
----------------*/
.margin-30{
    margin: 30px 0;
}
.margin-50{
    margin: 50px 0;
}
.margin-t-80{
    margin-top: 80px;
}
.margin-b-100{
    margin-bottom: 100px;
}
.margin-t-170{
    margin-top: 170px;
}
/*----------------
    WIDHT
----------------*/
/*----------------
    HEIGHT
----------------*/
/*----------------
    HEADER
----------------*/
header{
    background-color: #0084fd;
}
.menu-mobile{
    display: none;
    font-size: 30px;
    padding-right: 30px;
    color: #ffff;
}
/*----------------
    MAIN
----------------*/
#intro .col{
    width: calc(100% / 3);
}
#intro .card{
    border-radius: 30px;
    height: 100%;
}
.phone{
    max-width: 300px;
    margin-top: 60px;
}
#intro h3, .info i {
    color: #0084fd;
}
#intro p{
    padding: 40px 30px;
    color: #5a6e7f;
}
.info .fa-solid{
    font-size: 80px;
}
.info i{
    padding: 30px 0;
}
#planning .col{
    width: 50%;
    border-radius: 50px;
}
#planning img{
    max-width: 400px;
}
#planning .bg-white img{
    max-width: 300px;
}
#planning h2{
    padding-top: 130px;
    padding-bottom: 60px;
}
#planning h3{
    padding: 20px 0;
    font-weight: 700;
}
#planning button{
    margin: 30px 0;
}
.img-circle{
    max-width: 500px;
}
#testimonials img{
    clip-path: circle();
}
#testimonials .bg-color{
    border-radius: 50px;
}
#testimonials .img-circle, #testimonials h4{
    padding: 30px 0;
}
#testimonials h1{
    color: #9792e4;
    font-size: 40px;
}
#benefit .col{
    width: calc(100% / 3);
}
#benefit .card{
    background-color: #ffff;
    border-radius: 30px;
}
#benefit .number{
    font-size: 70px;
}
#benefit h1{
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}
#about-us h1{
    font-size: 55px;
}
#about-us img{
    max-width:  250px;
    clip-path: circle();
}
#about-us .col{
    width: 75%;
}
#about-us .col-small{
    width: 25%;
}
#about-us p{
    line-height: 2;
}
#about-us .col-small p {
    font-size: 25px;
    font-weight: 900;
}
#about-us .pos-relative i{
    position: absolute;
    font-size: 60px;
    right: 30px;
    top: 10px;
}
#get-started h4{
    color: #cbc9f1;
}
#get-started h3{
    font-size: 40px;
}
#get-started h1{
    color: #fdc15f;
    font-size: 80px;
}
#get-started i{
    font-size: 16px;
}
/*----------------
    FOOTER
----------------*/
footer {
    background-color: black;
}
footer a{
    color: #9792e4;
}
/*----------------
    TABLET
----------------*/
@media screen and (max-width: 992px) {
    .shadow {
        display: none;
    }
    .menu-mobile{
        align-items: center;
        display: block;
    }
    #intro .dis-flex{
        display: inline-block;
        max-width: 100%;
    }
    #planning .col{
        width: 100%;
        margin-top: 0;
    }
    #planning h2{
        font-size: 50px;
    }
    #benefit .col{
        width: 50%;
    }
    #planning img, #planning .bg-white img, .phone, #about-us img{
        max-width: 100%;
    }
}
/*----------------
    MOBILE
----------------*/
@media screen and (max-width: 768px) {
    #intro .col{
        width: 100%;
    }
    #testimonials .dis-flex{
        flex-direction: column;
    }
    #testimonials .mobile{
        text-align: center;
    }
    #benefit .col, #about-us .col{
        width: 100%;
    }
    #about-us .col{
        padding-right: 0;
    }
}